$main-background-color: hsl(217, 100%, 97%);
$secondary-background-color: hsl(206, 94%, 87%);
$next-btn-background-color: hsl(213, 96%, 18%);
$next-btn-background-color-hover: hsl(213, 96%, 28%);
$main-grey-color: hsl(231, 11%, 63%);
