@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.select-plan {
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__title {
		@include formTitle;
	}

	&__desc {
		@include formDescription;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__item {
		display: flex;
		gap: 10px;
		border: 2px solid $secondary-grey-color;
		border-radius: 8px;
		padding: 10px;
		cursor: pointer;
	}

	&__item--selected {
		border: 2px solid $secondary-color;
		background-color: $secondary-color-transparent;
	}

	&__text-side {
		display: flex;
		flex-direction: column;
	}

	&__item-name {
		color: $main-color;
		font-weight: 700;
	}

	&__item-price {
		color: $main-grey-color;
		font-size: 14px;
	}

	&__switch-box {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		background-color: $main-background-color;
		font-size: 14px;
		padding: 15px;
		border-radius: 8px;
	}

	&__switch {
		position: relative;
		width: 40px;
		height: 20px;
		background-color: $main-color;
		border-radius: 20px;
		border: none;
		cursor: pointer;
	}

	&__switch-ball {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 60%;
		width: 12px;
		border-radius: 50%;
		background-color: #fff;
		transition: left 0.1s, right 0.1s;
		left: 5px;
	}

	&__switch-ball-left {
		left: 5px;
	}

	&__switch-ball-right {
		right: 5px;
	}

	&__switch-monthly {
		color: $main-color;
		font-weight: 700;
	}

	&__switch-yearly {
		color: $main-grey-color;
		font-weight: 700;
	}
}
