@use "../abstracts/colors" as *;

.signup-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	&__main-content {
		position: absolute;
		top: -70px;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		min-height: 200px;
		background-color: #fff;
		border-radius: 8px;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		padding: 15px;
	}

	&__buttons--first-step {
		justify-content: flex-end;
	}

	&__next-btn {
		padding: 10px 20px;
		background-color: $main-color;
		color: #fff;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: $main-color-hover;
		}
	}

    &__next-btn--confirm-btn {
        background-color: $secondary-color;

        &:hover {
            background-color: $secondary-color-hover;
        }
    }

	&__previous-btn {
		background: none;
		border: none;
		color: $main-grey-color;
		cursor: pointer;
	}
}
